<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello MyPage!</title>
    <style>
        #warp {
            margin: 0 auto; width: 800px; height: 100%; border: 1px solid #F00
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
            border: 1px solid #F00;
        }
        table td {
            vertical-align: middle;
            padding: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            nowrap: false;
        }
    </style>
</head>
<body>
    <div>
        <table>
            <tr th:each="linkCategory,memberStat:${linkCategoryList}">
                <td th:text="${linkCategory.name}"></td>
                <td>
                    <table>
                        <tr>
                            <td th:each="linkInfo,memberStat:${linkCategory.linkInfoList}">
                                <a th:href="@{${linkInfo.url}}" target="_blank"><span th:text="${linkInfo.name}"></span></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>