<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="//g.alicdn.com/tb/tracker/3.0.5/index.js"></script>
    <title>我的主页</title>
    <meta name="data-spm" content="1" data-spm-protocol="i"/>
    <link rel="stylesheet" href="//g.alicdn.com/browser/uc123_no/0.2.82/page/op/css/uc.op.pkg.min.css">

    <link rel="shortcut icon" th:href="@{/img/mypage_title_icon.png}" type="text/css">

    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <!--主页暂时不用bootstrap框架样式-->
<!--
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/toastr.min.css" type="text/css">

    <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="../js/popper.min.js" type="text/javascript"></script>&lt;!&ndash;popper.min.js 用于弹窗、提示、下拉菜单&ndash;&gt;
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../js/toastr.min.js" type="text/javascript"></script>
-->

    <base target="_blank">
</head>
<body class="op">

<div id="header" class="header-bar-gray">
    <div class="header-inner clearfix">
        <div class="logo">
            <img src="../img/mypage_logo.png" width="190" height="60">
            <!--<span class="logo-name">MyPage</span>-->
        </div>
        <form class="form-search" action="http://www.baidu.com/s" method="get" autocomplete="false" style="margin-left: 40px;">
            <input id="J_searchKeyword" class="form-input" name="wd" type="text" autocomplete="off" value="">
            <input class="form-submit" type="submit" value="搜索" style="background-color: #ff6400;">
            <input type="hidden" name="ie" value="utf-8">
            <input type="hidden" name="tn" value="98050039_pg">
        </form>
        <div id="main" style="float: right; margin-top: 20px;">
            <div id="mainIcon">
                <img th:if="${session.userInfo != null}" src="../img/mypage_main_icon_in.png" width="40" height="40">
                <img th:if="${session.userInfo == null}" src="../img/mypage_main_icon_off.png" width="40" height="40">
            </div>
            <div id="mainInfo" style="font-size: 20px;display: none;z-index: 999999;background-color: #F0EFEF;position: absolute;width: 90px;">
                <div th:if="${session.userInfo != null}">
                    <div style="margin-top: 5px;margin-left: 5px;">
                        <a th:href="@{/personal/toPersonal}" th:text="个人中心"></a>
                    </div>
                    <div style="margin-top: 5px;margin-left: 5px;">
                        <a th:href="@{/article/articleList}">我的文章</a>
                    </div>
                    <div style="margin-top: 5px;margin-left: 5px;margin-bottom: 5px;">
                        <a th:href="@{/base/logout}" target="_self">退出</a>
                    </div>
                </div>
                <div th:if="${session.userInfo == null}">
                    <div style="margin-top: 5px;margin-left: 5px;">
                        <a href="../html/login.html" target="_self">登录</a>
                    </div>
                    <div style="margin-top: 5px;margin-left: 5px;margin-bottom: 5px;">
                        <a href="../html/regist.html" target="_self">注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add to check html,can not be delete:uc123-check-mid -->
<div id="main-container">
    <div class="main-content-row">
        <span th:each="linkCategory,memberStat:${linkCategoryList}">
            <div id="ty_sczh" name="ty_sczh" class="category mod">
                <div class="category-title-wrap">
                    <h3 class="category-title" th:text="${linkCategory.name}"></h3>
                </div>
                <div class="category-content bd">
                    <ul class="category-list clearfix">
                        <span th:each="linkInfo,memberStat:${linkCategory.linkInfoList}">
                            <li class="category-item">
                                <a th:href="@{${linkInfo.url}}">
                                    <span th:text="${linkInfo.name}"></span>
                                </a>
                            </li>
                        </span>
                    </ul>
                </div>
            </div>
        </span>
    </div>

</div>
<!--<div class="footer">-->
    <!--<p class="footer-links">-->
        <!--<a href="http://www.uc.cn">关于UC</a>-->
        <!--<span class="line">|</span>-->
        <!--<a href="http://bbs.uc.cn">UC社区</a>-->
        <!--<span class="line">|</span>-->
        <!--<a href="http://pc.uc.cn/">UC浏览器</a>-->
        <!--<span class="line">|</span>-->
        <!--<a href="http://feedback.uc.cn/feedback/feedback/index?instance=pc_client&pf=145">意见反馈</a>-->
        <!--<span class="line">|</span>-->
        <!--<a href="http://wpa.qq.com/msgrd?v=3&uin=1729568005&site=qq&menu=yes">申请收录</a>-->
        <!--<span class="line">|</span>-->
        <!--<a href="http://www.12377.cn/">举报中心</a>-->
    <!--</p>-->
    <!--<p>-->
        <!--<span class="copyright">广州市动景计算机科技有限公司</span>-->
        <!--<span class="line">|</span>-->
        <!--<span class="copyright">增值电信业务经营许可证: <a href="http://www.miitbeian.gov.cn">粤B2-20070379</a><a href="http://www.miitbeian.gov.cn">粤ICP备09210879号</a></span>-->
    <!--</p>-->
<!--</div>-->

<script type="text/javascript">
    $("#main").hover(function(){
        $("#mainInfo").toggle();
    });
</script>
</body>
</html>