<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="//g.alicdn.com/tb/tracker/3.0.5/index.js"></script>
    <title>我的主页 - 收藏链接防止丢失 一个有意义的工具类型网站</title>
    <meta name="data-spm" content="1" data-spm-protocol="i"/>
    <link rel="stylesheet" href="//g.alicdn.com/browser/uc123_no/0.2.82/page/op/css/uc.op.pkg.min.css">
    <link rel="shortcut icon" th:href="@{/img/mypage_title_icon.png}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}" type="text/css">

    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script><!--popper.min.js 用于弹窗、提示、下拉菜单-->
    <script th:src="@{/js/toastr.min.js}" type="text/javascript"></script>

    <base target="_blank">
</head>
<body class="op">

<div id="header" class="header-bar-gray">
    <div class="header-inner clearfix">
        <div class="logo">
            <img src="../img/mypage_logo.png" width="190" height="60">
            <!--<span class="logo-name">MyPage</span>-->
        </div>
        <form class="form-search" action="http://www.baidu.com/s" method="get" autocomplete="false" style="margin-left: 40px;">
            <input id="J_searchKeyword" class="form-input" name="wd" type="text" autocomplete="off" value="">
            <input class="form-submit" type="submit" value="搜索" style="background-color: #ff6400;">
            <input type="hidden" name="ie" value="utf-8">
            <input type="hidden" name="tn" value="98050039_pg">
        </form>
        <div id="main" style="float: right; margin-top: 20px;">
            <div id="mainIcon">
                <img th:if="${session.userInfo != null}" src="../img/mypage_main_icon_in.png" width="40" height="40">
                <img th:if="${session.userInfo == null}" src="../img/mypage_main_icon_off.png" width="40" height="40">
            </div>
            <div id="mainInfo" style="font-size: 20px;display: none;z-index: 999999;background-color: #F0EFEF;position: absolute;width: 90px;">
                <div th:if="${session.userInfo != null}">
                    <div style="margin-top: 5px;margin-left: 5px;">
                        <a th:href="@{/personal/toPersonal}" th:text="个人中心"></a>
                    </div>
                    <!--<div style="margin-top: 5px;margin-left: 5px;">
                        <a th:href="@{/article/articleList}">我的文章</a>
                    </div>-->
                    <div style="margin-top: 5px;margin-left: 5px;margin-bottom: 5px;">
                        <a th:href="@{/base/logout}" target="_self">退出</a>
                    </div>
                </div>
                <div th:if="${session.userInfo == null}">
                    <div style="margin-top: 5px;margin-left: 5px;">
                        <a href="../html/login.html" target="_self">登录</a>
                    </div>
                    <div style="margin-top: 5px;margin-left: 5px;margin-bottom: 5px;">
                        <a href="../html/regist.html" target="_self">注册</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="flushWeather" style="float: right; margin-top: 28px; margin-right: 55px; cursor: pointer">
            <img id="flushImg" th:src="@{/img/mypage_flush_weather.gif}" style="width: 20px; height: 20px;" onclick="getWeatherInfo()">
        </div>
        <div id="weather" style="float: right; margin-top: 30px; margin-right: 10px;">
            <a style="text-decoration: none" href='http://www.weather.com.cn/weathern/101010100.shtml'>
                <span id="weatherInfo" style="font-size: 20px;"></span>
            </a>
        </div>
    </div>
</div>
<div id="main-container">
    <div id="masthead">
        快捷功能：
        <span class="quickFun" onclick="showTranslate(this)" onoff="off">翻译</span><!-- -
        <span class="quickFun" onclick="" onoff="off">百度翻译</span> -
        <span class="quickFun" onclick="" onoff="off">百度翻译</span>-->
    </div>
    <div id="translate" class="quick">
        <div>
            翻译成：
            <select id="transTo" style="width: 70px; height: 25px;">
                <option value="en">英文</option>
                <option value="zh">中文</option>
            </select>
            <button onclick="trans()" style="height: 25px;" id="transBtn">翻译</button>
        </div>
        <textarea class="translate-area" id="transQuery" oninput="checkLanguage()" placeholder="需要翻译的内容"></textarea>
        <textarea class="translate-area" id="transResult" disabled></textarea>
    </div>
    <div class="main-content-row">
        <span th:each="linkCategory,memberStat:${linkCategoryList}">
            <div id="ty_sczh" name="ty_sczh" class="category mod">
                <div class="category-title-wrap">
                    <h3 class="category-title" th:text="${linkCategory.name}"></h3>
                </div>
                <div class="category-content bd">
                    <ul class="category-list clearfix">
                        <span th:each="linkInfo,memberStat:${linkCategory.linkInfoList}">
                            <li class="category-item">
                                <a th:href="@{${linkInfo.url}}">
                                    <span th:text="${linkInfo.name}"></span>
                                </a>
                            </li>
                        </span>
                    </ul>
                </div>
            </div>
        </span>
    </div>

</div>
<div class="footer">
    <p class="footer-links">
        <span style="color: #C5C5C5">技术交流QQ群：1109877584</span>
        <span class="line">|</span>
        <a href="https://support.qq.com/product/167985">意见反馈</a>
    </p>
    <p>
        <a href="http://www.beian.miit.gov.cn">京ICP备19036468号</a></span>
    </p>
</div>

<script th:src="@{/js/main.js}" type="text/javascript"></script>

</body>
</html>