<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello MyPage!</title>
</head>
<body>
    <table>
        <tr><td>No.</td><td>姓名</td><td>昵称</td><td>状态</td></tr>
        <tr th:each="user,memberStat:${userList}">
            <td th:text="${memberStat.index + 1}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.nickName}"></td>
            <td th:text="${user.status}"></td>
        </tr>
    </table>
</body>
</html>